<%= image_tag("inlog.png", size: "260x300", class: "center") %>
<div class="jumbotron">
  <div class="home-page">
    <h1>Recepten Boek</h1>

    <h2>
      This is the home page for the recipes book application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>
</div>