<div class="row">
  <div class="col-md-6 col-md-offset-1"><div id="head-title">Book overview</div></div>
    <div class="col-md-4">
      <div class="button-right">
        <%= link_to( "Download PDF", { action: "download_book", :format => "pdf" } ,
                                    class: "btn btn-primary" ) %>
      </div>
    </div>
</div>
<br />
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        Book list
      </div>
       <% @categories.each do |c| %>
      <table class="table table-striped table-bordered table-condensed table-hover">
         <tr>
           <th><%= c.name %></th>
         </tr> 
          <% c.recipes.active.each do |recipe| %>
         <tr>
           <td><%= recipe.title %></td>
         </tr> 
         <% end %>
       </table>
      <% end %>
     </div>
   </div>
</div>
