<div class="row">
  <div class="col-md-6 col-md-offset-1"><div id="head-title">Book overview</div></div>
    <div class="col-md-4">
      <div class="button-right">
        <%= link_to( "Download PDF", { action: "download_book", :format => "pdf" } ,
                                    class: "btn btn-primary" ) %>
      </div>
    </div>
</div>
<br />
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        Book list
      </div>
       
      <table class="table table-bordered table-condensed table-hover" id="recipes">
         <% @categories.each do |c| %>
         <tr>
           <th><%= c.name %></th>
         </tr> 
          <% c.recipes.rank(:row_order).active.each do |recipe| %>
         <tr data-item-id=<%= "#{recipe.id}" %> class="item">
           <td style="text-indent:25px;"><%= recipe.title %></td>
         </tr> 
         <% end %>
         <% end %>
       </table>
     </div>
   </div>
</div>
