<h1><%= @book.title %></h1>
  <div class='book-image'>
  </div>
<h3 style='text-align:center;'>Written by <%= @book.author %></h3>
<h3 style='text-align:center;'>Year of publication <%= @book.year_of_publication %></h3>
